body {
  width: 100;
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #121212, #1a1a1a, #292929);
  color: white;
  display: grid;
  grid-template-columns: repeat(autofit, 300px);
}

.container {
  width: 95vw;
  height: 95vh;
  background: linear-gradient(135deg, #1e1e1e, #292929);
  margin: auto;
  position: relative;
  border-radius: 15px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: row; /* Stack items vertically */
  align-items: flex-start; /* Align content to the left */
  justify-content: flex-start; /* Align content to the top */
  padding: 20px; 
  gap: 50px;
}
